.greeting {
  font-size: 1.3em; 
  font-weight: 600; 
  margin-bottom: 25px;
  color: var(--text-color-light);
  text-align: center; 
}

h2 {
  text-align: center;
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--border-color); 
  padding-bottom: 10px;
}


.quizList {
  
  margin-bottom: 30px; 
}

.quizList li {
  
  padding: 15px 20px; 
}

.quizList li span {
  font-weight: 500; 
  flex-grow: 1; 
  margin-right: 15px; 
}

.quizList li button {
  
  padding: 8px 15px; 
  font-size: 0.9rem;
  background-color: var(--secondary-color); 
  flex-shrink: 0; 
}

.quizList li button:hover {
  background-color: var(--secondary-color-dark);
}


.signOutBtn {
  display: block; 
  margin: 20px auto 0 auto; 
}